---
# Setup repo (optional) and install:
- import_tasks: nginx-repo.yml
  when: nginx_repo is defined

- import_tasks: nginx-installation.yml

# Remove default configs and configs not managed by thins role (optional):
- import_tasks: remove-defaults.yml

- import_tasks: remove-extras.yml
  when: keep_only_specified

- import_tasks: os-tuning.yml
  when: nginx_os_tuning

# Do the configuration of Nginx and it's sites
- import_tasks: configuration.yml

- name: Enable the nginx systemd service
  systemd:
    daemon_reload: yes
    name: 'nginx.service'
    enabled: yes
  tags: [service,nginx]
