# {{ ansible_managed }}
user              {{ nginx_user }}  {{ nginx_group }};
worker_processes  {{ nginx_worker_processes }};
{% if nginx_distribution != "openresty" %}
pid               {{ nginx_pid_file }};
{% endif %}
include           {{ nginx_conf_dir }}/modules-enabled/*.conf;

events {
{% for param in nginx_events_params %}
  {{ param }};
{% endfor %}
}

http {
{% for param in nginx_http_params %}
  {{ param }};
{% endfor %}
  include {{ nginx_conf_dir }}/mime.types;
  default_type application/octet-stream;

  # Virtual Host configs:
  include {{ nginx_conf_dir }}/conf.d/*.conf;
  include {{ nginx_conf_dir }}/sites-enabled/*;
}
