#{{ ansible_managed }}
{% for upstream in nginx_sites[item][upstream] %}
upstream {{upstream.key}} {
  {{ upstream.value }}
}
{% endfor %}

server {
{% for v in nginx_sites[item][server] %}
{% if v.find('\n') != -1 %}
   {{v.replace("\n","\n   ")}}
{% else %}
   {% if v != "" %}{{ v.replace(";",";\n      ").replace(" {"," {\n      ").replace(" }"," \n   }\n") }}{% if v.find('{') == -1%};
{% endif %}{% endif %}{% endif %}
{% endfor %}
}
