#{{ ansible_managed }}

{% if nginx_sites[item]['upstream'] is defined %}
{% for name, conf in nginx_sites[item]['upstream'].iteritems() %}
upstream {{ name }} {
  {{ conf.replace(";",";\n      ") }}
}
{% endfor %}

{% endif %}
server {
{% for v in nginx_sites[item]['server'] %}
{% if v.find('\n') != -1 %}
  {{v.replace("\n","\n   ")}}
{% else %}
  {% if v != "" %}{{ v.replace(";",";\n    ").replace(" {"," {\n    ").replace(" }"," \n   }\n") }}{% if v.find('{') == -1%};
{% endif %}{% endif %}{% endif %}
{% endfor %}
}
