# {{ ansible_managed }}

{% if item.upstream_group is defined %}
upstream {{ item.upstream_group.name }} {
{% for number in range(0, item.upstream_group.size|int) %}
  {{ item.upstream_group.base_string.replace('$#', number|string) }}
{% endfor %}
}
{% endif %}

{% if item.upstream is defined %}
{% for name, conf in item.upstream.items()|list %}
upstream {{ name }} {
  {{ conf.replace(";",";\n      ") }}
}
{% endfor %}

{% endif %}
server {
{% for v in item.server %}
{% if v.find('\n') != -1 %}
  {{v.replace("\n","\n   ")}}
{% else %}
  {% if v != "" %}{{ v.replace(";",";\n    ").replace(" {"," {\n    ").replace(" }"," \n   }\n") }}{% if v.find('{') == -1%};
{% endif %}{% endif %}{% endif %}
{% endfor %}
}
